doctype html
html
  include common/_head
  
  body
    h1 四郎
    h2 Lv.4
    
    h3 SPECIAL
    table#special
      tr
        th S
        th 10
      tr
        th P
        th 10
      tr
        th E
        th 10
      tr
        th C
        th 10
      tr
        th I
        th 10
      tr
        th A
        th 10
      tr
        th L
        th 10
    
    h3 PARK
    table#park
      thead
        tr
          th Strength
          th P
          th E
          th C
          th I
          th A
          th L
      tr
        th s1
        th p1
        th s1
        th p1
        th s1
        th p1
        th s1
      tr
        th 1
        th 1
        th 1
        th 1
        th 1
        th 1
        th 1
          
      
    
  script(src="/tags/common.js")
  script(src="/js/mount.js")
