doctype html
html
  head
    title FO4Random
    script(src="https://cdn.jsdelivr.net/npm/riot@3.7/riot.min.js")

  body
    hello
    test

  script(src="/tags/common.js")
  script(type="text/javascript").
    riot.mount('*');
