doctype html
html
  head
    title FO4Random
    script(src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.3.18/riot+compiler.js")
  
  body
    h1 名前
    h2 Lv.
    test
    
  script(type="riot/tag", src="/src/tags/test.js")
  script(type="text/javascript").
    riot.mount('*');
